
    @mixin button ($paddingTopBot, $paddingRigLef) {
        padding:$paddingTopBot $paddingRigLef ;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    border: none;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
   