$accentColor:#2196f3;
$logoColor: #000;
$mainTextColor:#212121;
$secondaryTextColor:#757575;
$footerBackgroundColor:#2f303a;
$teamBackgroundColor: #f5f4fa;
$mainBackgroundColor: #fff;
$primaryFont: "Roboto", sans-serif;
    $secondaryFont: "Raleway", sans-serif;