.customer-title {
    display: flex;
    justify-content: center;
    padding-bottom: 236px;
  }
  
  .item-icon {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
  }
  
  .customer-icon {
    border-radius: 4px;
    /* border: 1px solid #afb1b8;
    width: 170px;
    height: 80px; */
    fill: currentColor;
    display: block;
  
  
  }
  
  .customer-list {
    display: flex;
    gap: 30px;
    
  }
  
  .customer-item {
    width: calc((100% - 150px) / 6);
  }
  
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 170px;
    height: 92px;
  }
  
  .icon-link:hover, .icon-link:focus {
    border: 1px solid #2196f3;
    color: #188ce8;
  }
  
  .use {
    fill: #AFB1B8;
  
  }
  
  .use:hover{
    fill: var(--accent-color) !important; 
  }
  
  .list-icon {
    border: 1px solid red;
    display: flex;
    gap: 10px;
    
  }